* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
    background-image: url('./components/images/home.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-section {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .menu-button {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  